* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Arial", Courier, monospace;
}

.contianer {
  background-color: #cef;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget {
  width: 40rem;
  border-radius: 0.4rem;
  background: linear-gradient(to bottom right, #3cc0fe 20%, #0066ff);
  box-shadow: 0px 60px 80px -20px rgba(#27a5fd, 0.4);
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  margin-bottom: 2rem;
}
.temperature {
  color: white;
  font-weight: 10;
  font-size: 5rem;
  margin-left: 2rem;
  margin-bottom: 0.7rem;
}
.summary {
  color: whitesmoke;
  font-weight: 300;
  width: 260px;
  padding-bottom: 16px;
  border-bottom: 2px solid #9cd0ff;
  margin-left: 3rem;
}
.summaryText {
  margin: 0;
  margin-left: 56px;
}
.humidity {
  color: #d2e9fa;
  font-weight: 300;
  margin-top: 1rem;
  margin-left: 7rem;
}
